{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <title>Your MP3</title>
</head>
<body>

  <div class="container">

    <form method="post" action="{% url 'descarga' %}">
      {% csrf_token %}

      <h2 class="title">Descarga archivos MP3</h2><br><span>MP3 / Musica</span></h2>
      <input type="text" name="url" placeholder="Ingresa la url" required >

      {% if messages %}
        {% for msg in messages %} <p>{{msg}}</p> {% endfor %}
      {% endif %}

      <button type="submit">Descargar</button>

    </form>

  </div>

</body>
</html>
